**/.idea
**/.pytest_cache
**/target
**/external
*.pyc
**/.DS_Store
**/gen
**/build
**/*.log
**/.pylintrc
**/*.iml
**/.history
**/venv
**/toml
Pipfile
Pipfile.lock
.testmondata
**/golden_failures
**/*.sw[po]
**/dump.rdb
**/local/.env
**/.coverage
**/.coveragerc
**/coverage.xml
