pytest==6.2.5
pytest-asyncio==0.20.3
quart==0.17.0
SQLAlchemy==1.4.46
google-auth==2.11.0
PyMySQL==1.0.2
pg8000==1.29.4
google-api-python-client==2.58.0
cloud-sql-python-connector==0.4.1
google-cloud-logging==3.2.2
aiohttp==3.8.3
black==22.3.0
